{{#bs-modal message=model.options.message onHidden=(action "closeModal") as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            Message
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        Do you want to accept?
    {{/modal.body}}
    {{#modal.footer}}
        {{#bs-button type="danger" onClick=(action reject)}}
            Reject
        {{/bs-button}}
        {{#bs-button type="primary" onClick=(action resolve)}}
            Accept
        {{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}